<div class="page-header">
  <h1>User #<%= @user.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Second name</dt>
  <dd><%= @user.second_name %></dd>

  <dt>Date of birth</dt>
  <dd><%= @user.date_of_birth %></dd>

  <dt>Email address</dt>
  <dd><%= @user.email_address %></dd>

  <dt>Password</dt>
  <dd><%= @user.password %></dd>

  <dt>Size</dt>
  <dd><%= @user.size %></dd>

  <dt>Body shape</dt>
  <dd><%= @user.body_shape %></dd>

</dl>
