<div class="page-header">
  <h1>New Order</h1>
</div>


<% if @order.errors.any? %>
  <% @order.errors.full_messages.each do |message| %>
          <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <%end%>
<%end%>


  <div class="form-group">
    <%= label_tag :user_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">

      <%= form_tag(orders_url, method: 'post', class: 'form-horizontal') do %>

      <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :full_name), class: 'form-control' %>

      <tbody>
      <% Item.all.each do |item| %>
      <tr>
        <td><%= image_tag item.image, width:100 %></td>
        <td><%= check_box_tag "item_#{item.id}" %></td>
      </tr>
      </tbody>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :complete, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :complete %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Order", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
