<div class="page-header">
  <h1>Clothes for You <%= current_user.first_name%>!</h1>
  <h3>We have combed all the clothes across the web to find items to suit your size and shape. Happy shopping!</h3>
</div>


<% if @order.errors.any? %>
  <% @order.errors.full_messages.each do |message| %>
          <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <%end%>
<%end%>

      <%= form_tag(orders_url, method: 'post', class: 'form-horizontal') do %>

       <tbody>
      <% Item.where(:size => current_user.size, :body_shape => current_user.body_shape).each do |item| %>
      <tr>
        <td><%= image_tag item.image, height:150 %></td>
        <td><%= check_box_tag "item_#{item.id}" %></td>
      </tr>
      </tbody>
      <% end %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-offset-8 col-md-6">
      <%= submit_tag "Add Selection to Basket", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
