<div class="page-header">
  <h1>Editing Item #<%= @item.id %></h1>
</div>

<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
          <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <%end%>
<%end%>

<%= form_tag(item_url(@item), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :name, @item.name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :category, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :category, @item.category, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :colour, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :colour, @item.colour, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :brand, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :brand, @item.brand, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :price, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :price, @item.price, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :size, @item.size, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :body_shape, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :body_shape, @item.body_shape, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :material, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :material, @item.material, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :image, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :image, @item.image, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :purchase_link, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :purchase_link, @item.purchase_link, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Item", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
