<div class="page-header">
  <h1>All Clothes</h1>
</div>

<%= paginate @items %>

<p><%= link_to 'Add a New Item', new_item_url, class: 'btn btn-primary' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Colour</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Size</th>
      <th>Body shape</th>
      <th>Material</th>
      <th>Purchase</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.image, width:100 %></td>
        <td><%= item.name %></td>
        <td><%= item.category %></td>
        <td><%= item.colour %></td>
        <td><%= item.brand %></td>
        <td><%= item.price %></td>
        <td><%= item.size %></td>
        <td><%= item.body_shape %></td>
        <td><%= item.material %></td>
        <td><%= link_to "Click to Purchase", item.purchase_link%></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, item_url(item), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_item_url(item), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, item_url(item), method: 'delete', data: { confirm: "Do you really want to delete this item?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

