<div class="page-header">
  <h1>Item #<%= @item.id %></h1>
</div>



<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @item.name %></dd>

  <dt>Category</dt>
  <dd><%= @item.category %></dd>

  <dt>Colour</dt>
  <dd><%= @item.colour %></dd>

  <dt>Brand</dt>
  <dd><%= @item.brand %></dd>

  <dt>Price</dt>
  <dd><%= @item.price %></dd>

  <dt>Size</dt>
  <dd><%= @item.size %></dd>

  <dt>Body shape</dt>
  <dd><%= @item.body_shape %></dd>

  <dt>Material</dt>
  <dd><%= @item.material %></dd>

  <dt>Image</dt>
  <dd><%= image_tag @item.image, width:100 %></dd>

  <dt>Purchase link</dt>
  <dd><%= link_to "Click to Purchase", @item.purchase_link%> </dd>

</dl>
